<div class="container" id="home-container">
  <div class="rounded-3 text-white text-lg-center" id="home-background">
    <h1 style="padding: 2% 0% 0% 0%;" class="display-4">Alpha Blog</h1>
    <p style="padding: 5% 10% 10% 10%;" class="lead">Or, keep it light and add a border for some added definition to the
      boundaries of your content. Be
      sure to look
      under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for
      equal-height.&nbsp &nbsp space</p>
    <%= link_to "Sign up", signup_path, method: :get, class: "btn btn-success btn-lg" %>
    <p style="padding: 5% 8% 5% 10%;"></p>
  </div>
</div>
